:root{
    --gugi: 'Gugi', cursive;
    --swash: 'Macondo Swash Caps', cursive;
    --stylish: 'Stylish', sans-serif;
    


    --black: #181818;
    --orange: #e8491d;
    --white: #f2f2f2;
    --grey: #cccccc;

}


body{
    background-color: var(--black);
    width: 100%;
    font-family: 'Roboto', sans-serif;

}   

.main{
    padding: 0;
    margin: 0 10% 10% 10%;
}

#left{
    padding: 0 0 0 0 ;
    margin: auto;
    margin-bottom: 10%; 

   
}

.order {
margin-top: 10px;
margin-bottom: 10%;
position: relative;
display: block;
}

form label{
    color: var(--grey);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    display: block;
}

#submit{
    background-color: #191919;
    color: var(--white);
    display: block;
    margin: auto;
    width: 50%;
    height: 50px;
    font-size: 15px;
}
#submit-button{
    text-align: center;
}
#submit:hover{
    background-color: gray;
    color: var(--white);
    text-shadow: #e8491d;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.wrapper input[type="email"],
input[type="password"] ,
input[type="text"],
input[type="number"],
select{
    margin: auto;
    width: 100%;
    height: 42px;
    border-radius: 2px;
    background: #181818;
    line-height: 24px;
    border-style: solid ;
    border-width: 0.5px;
    border-color:var(--grey); 
    margin-bottom:25px;
    color: grey; 
    padding-left: 10px;
    padding-right: 0;
}

textarea{
        margin: auto;
        width: 100%;
        /* width: 50%; */
        border-radius: 2px;
        background: #181818;
        line-height: 24px;
        border-style: solid ;
        border-width: 0.5px;
        border-color:var(--grey); 
        margin-bottom:25px;
        color: grey; 
        padding-left: 10px;
        padding-right: 0;
        display: block;
}


.logo{
    overflow: hidden;
    margin-bottom: 60px;
    display: block;
    text-align: left;
}

.logo h1{
    padding-left: 10px;
    color: #f2f2f2;
    font-size: 45px;
    line-height: 55px;
    font-family: var();
    border-bottom: solid;
    border-width: 0.5px;
    border-color: var(--orange);
    font-family: var(--gugi);

}

.links a, .link {
    color: #cccccc;
    text-align: center;
    text-decoration: none;
}
.links a:hover, .link:hover{
    font-weight: bold;
    border-bottom: solid;
    border-bottom-color: #e8491d;
    padding-bottom: 4px;

}

footer{
    position: relative;
    text-align: center;
    font-size: 10x;
    width: 100%;
    padding: 0;
    padding-top: 20px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;    
}

.wrapper{
    margin: 0 20%;
}

.box {
   margin: 10px 0 20px  ;
   color: #cccccc;
   font-size: 11px;
   text-align: left;
   padding-left: 0
}

input[type='checkbox']{
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}

.box a{
    color: gray
}

@media (max-width: 768px){
    .logo h1{
        color: #f2f2f2;
        font-size: 25px;
        line-height: 45px;
        font-family: var(--stylish);
        display: block
    }
}