:root{
    --primary: #d32b0d;
    --highlight: #181818;
    --accent: #cef9e2;
    --neutral: #cbbcf6;
    --orangee: #e63e10;
    --background: #474040;
    --gugi: 'Gugi', cursive;
    --swash: 'Macondo Swash Caps', cursive;
    --stylish: 'Stylish', sans-serif;
    


    --black: #181818;
    --orange: #e8491d;
    --white:white;
    --grey: #cccccc;

    --medium-button-font: 18px;

    --shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

body{
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}
main{
    margin: 40px 20px;
    /* text-align: center; */
}
h2{
    color: var(--orangee);
}


a{
    text-decoration: none;
}

.dashboard-nav-brand{
    font-weight: bold;
}


span{
    color: var(--orangee);
}
.btn {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
/* Buttons */
.btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

/* Orange Button */
.btn.orange {
	color: var(--orange);
	border-color: #e8491d;
}
.btn.orange:hover {
	background-color: rgba(255, 198, 93, 0.3);
}

/* Blue Button */
.btn.blue {
	color: #031e2c;
	border-color: rgb(43, 121, 238);
}
.btn.blue:hover {
	background-color: rgba(174, 221, 245, 0.3);
}

/* Green Button */
.btn.green {
	color: #86ec93;
	border-color: #86ec93;
}
.btn.green:hover {
	background-color: rgba(134, 236, 147, 0.3);
}


.overview{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 150px;
}

.overview-item{
    position: relative;
    background-color: var(--white);
    border-radius: 3px;
    padding: 10px 20px;
    margin: 10px 2px;
    
}
.overview-item:hover{
    box-shadow: var(--shadow);
}

.stats-title{
    font-size: 18px;
    color: var(--primary);

}

.stats-total{
    font-size: 25px;
    padding: 5px;
    margin: 0;
    font-weight: bold;
    color: var(--highlight);

}

.user-verification{
    background-color: var(--white);
    margin-top: 20px;
}

.user-view{
    width: 100%;
    position: relative;
    background-color: var(--white);
    border-radius: 3px;
    
}

.view-title-div{
    position: relative;
    border-bottom: 1px solid var(--neutral);
    overflow: hidden;
    padding: 0 10px;
}

#view-title{
    color: var(--orangee);
    float: left;
    padding: 10px;
}

#view-view-all{
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    float: right;
    background-color: white;
    color: var(--highlight);
    font-size: var(--medium-button-font);
    border: 1px solid var(--highlight);
}

#view-view-all:hover{
    background-color: var(--primary);
    color: white;
    border:none;
}

th, td{
    padding: 5px 10px;
    color: var(--highlight);
    text-align: center;
}

h4{
    color: var(--orangee);
}

.user-view-list{
    padding: 10px;
}

.user-view-listitem{
    color: var(--highlight);
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid black;
}

.user-view-listitem:hover{
    box-shadow: var(--shadow);
}



.quickstats-button{
    width: 100%;
    height: 40px;
    background-color: var(--white);
    color: var(--highlight);
    text-align: center;
    cursor: pointer;
    font-size: var(--medium-button-font);
    border: 1px solid var(--highlight);
}

.quickstats-button:hover{
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.user-details{
    background-color: var(--highlight);
    color: var(--white);
    border: none;
    width: 100px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}

.user-details:hover{
    background-color: var(--white);
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

.section-two{
    margin-top: 10vh;
    position: relative;
    width: 100%;
}


.stats-card-1{
    float: left;
    width: 45%;
    height:100px;
    text-align: center;
    padding: 30px 10px;
    margin: auto;
    background-color: var(--white);
}
.stats-card-2{
    float: right;
    width: 45%;
    padding: 30px 10px;
    background-color: var(--white);
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.section-two p{
    font-size: 40px;
    font-weight: 700px;
    color: var(--highlight);
}

.section-two p span{
    font-size: 24px;
    color: var(--primary);
}

.stats-card-1, .stats-card-2:hover{
    box-shadow: var(--shadow);
}



header li{
    font-weight: bold;
    text-shadow: -1px -1px 1px rgb(8, 8, 8)
}

header{
    background-color: rgba(0,0,0,0.9);
    color:#ffffff;
    padding-top: 10px; 
    padding-bottom: 10px;
    height: 40px;
    min-height: 40px;
    width: 100%;    
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    position: sticky;
    top:0;
    z-index: 9999
}
    


header a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    /* font-weight: bold; */
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px

}
header #branding{
    float: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; 
}

header #branding h1{
    margin: 0;
    text-transform: lowercase;
    text-shadow: -1px -1px 1px rgb(102, 36, 12),
    0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}

header nav{
    float: right;
    margin-top: 10px;
}

.highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{ 
    color: #e8491d;
    border-bottom: solid;
    border-bottom-color: #ffffff;
    padding-bottom: 5px;
}
img{
    height:40px;
    width: 70px;
}